* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template:
        'left-header    header  right-header' 50px
        'left-menu      main    right-menu' 1fr
        'footer         main    right-menu' 50px /
        200px 1fr 200px;
}

.left-header {
    background-color: #ffff50;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: #ff000050;
    padding: 1rem;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.right-header {
    background-color: #00ff50;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.left-menu {
    background-color: #00ff0050;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main {
    grid-area: main;
    background-color: #0000ff50;
    padding: 1rem;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.right-menu {
    grid-area: right-menu;
    background-color: #ffff0050;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.footer {
    background-color: #ff00ff50;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}